.vscode/
logs/
PCL/
saves/
backups/
CustomSkinLoader/
crash-reports/
1.20.1-mod测试-natives/
kubejs/probe/
logs/
modernfix/
xaero/
XaeroWaypoints_BACKUP240807/
screenshots/
patchouli_data.json
crash-reports/
shaderpacks/
local/
木春菊-natives/glfw.dll
木春菊-natives/jemalloc.dll
木春菊-natives/jna7829435905460988121.dll
木春菊-natives/jna7829435905460988121.dll.x
木春菊-natives/lwjgl_opengl.dll
木春菊-natives/lwjgl_stb.dll
木春菊-natives/lwjgl.dll
木春菊-natives/OpenAL.dll
木春菊.jar
木春菊.json
authlib-injector.log
usercache.json
